---
subsection: about
layout: layouts/center.njk
date: 2022-07-16
permalink: /en/about/index.html
metaDescription: Who is Bulevard?
title: Who are we?
eleventyNavigation:
  key: about
  order: 2
image: ../../static/img/bashkimi.png
---

<h1>Who are we?</h1>
<p>Bulevard Art and Media Institute combines artistic methodology with media as a way to contextualize archival narratives.</p>
<p>Bulevard’s spaces are located in the underground lever of the former Gazeta Bashkimi building -  overlooking Bulevard Zogu I in Tirana.</p>
<p>Bulevard works with the storytelling of the intimate and its position within the collective. Its program compromises exhibitions, laboratories, conversations and celebratory events, which are narrated through the editorial processes of Gossips, Diaries and Letters.</p>
<h2>Staff</h2>
<p>Valentina Bonizzi (IT) is an artist and  researcher based in Tirana. Her work incorporates storytelling through film, writing, and radical pedagogical practices to question the politics of representation and narration. She holds a Master of Research from Glasgow School of Art and a PhD from the Visual Research Center (DJCAD), Dundee. Valentina is a co-founder of Bulevard Art and Media Institute and her studio is Academy of Others.</p> 
<p>Sonila Abdalli (AL) is an architect, entrepreneur and producer based in Tirana. Sonila is interested in collective place making processes, research on how to build sustainable economies. Sonila studied architecture at Polis University and she is a co-founder of Destil Creative Hub and Bulevard Art and Media Institute.</p>
<p>Marina Olipia Dalipi (AL) is a visual artist and graphic designer based in Tirana. She helps with the visual communication of Bulevard and is interested in curating and art restoration. Marina graduated with a bachelor’s in Art and Design from Polis University in 2022.</p>
<h2>Summer opening hours</h2>
<h3>Monday - Sunday</h3>
<p>17:00 PM - 21:00 PM</p>
<h3>or</h3>
<h3>on appointment</h3>
<h3>contact us on social media</h3>