---
layout: layouts/base-red.njk
title: Home
date: 2022-07-17
section: home
permalink: /en/index.html
---

<div class="info with-bg">
  <h1>Bulevard Art and Media Institute combines artistic methodology to media as a way to contextualize archival narratives.</h1>
</div>
<div class="events">
  <div class="event">
    <h2>Lule shqiponja</h2>
    <img src="/images/placeholder.jpg" alt="placeholder">
  </div>
  <div class="event">
    <h2>Diaries 01. Exhibition</h2>
    <h3>Lindart and the Albanian Women Association</h3>
    <img src="/images/placeholder.jpg" alt="placeholder">
  </div>
  <div class="event">
    <h2>Letters</h2>
    <img src="/images/placeholder.jpg" alt="placeholder">
  </div>
  <div class="event">
    <h2>Diaries 01. Calendars</h2>
    <img src="/images/placeholder.jpg" alt="placeholder">
  </div>
</div>