---
layout: layouts/center.njk
title: Location
metaDescription: Bulevard location and how to get here.
date: 2022-07-17
permalink: /en/location/index.html
section: center
subsection: location
---

<h1>Location</h1>
<video controls width="720">
    <source src="/static/video/bulevard-location.mp4" type="video/mp4">
</video>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.948230476791!2d19.815044515242644!3d41.331739079269376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13503177c74bcae1%3A0x71570404115bebce!2sBulevard%2C%20Art%20and%20Media%20Institute!5e0!3m2!1sen!2s!4v1658013985949!5m2!1sen!2s" width="720" height="450" style="border:0;" allowfullscreen="yes" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<h1>Contact</h1>
<a href="https://www.instagram.com/bulevard_art_media_institute/">{{ "/static/svg/instagram.svg" | svgContents | safe }} bulevard_art_media_institute</a>
<a href="https://www.facebook.com/bulevardartandmedia">{{ "/static/svg/facebook.svg" | svgContents | safe }} bulevardartandmedia</a>