---
layout: layouts/center.njk
title: Casting gossips lab
metaDescription: What's on Bulevard
date: 2022-09-23
permalink: /sq/casting/index.html
image: ../../static/img/casting/casting-gossips.jpg
subsection: casting
---
<h1>Casting gossips labs</h1>

<p>Casting Gossips is the yearly educational program of Bulevard Lab that combines archival practices with design in public space, performance, architecture and storytelling.</p>
<p>In 2022, the first year of Casting Gossips, Boulevard Lab established a collaboration with theatre director Anila Balla who has worked on performative possibilities of place, by exploring Albanian literary texts, international voices and some untraceable authors. Carving into the facets of the three pillars of Albanian Language: the Tosk (Musine Kokalari), the Gegë (Martin Camaj) and the literary Albanian (Bulevard Gossips) Anila’s worked on a script which has been performed on the 23rd of Septemberby a group of young non professional actors.</p>

<div class="links">
  <a href="/sq/casting/lab-1">{{ images["casting"]["casting-gossips-lab-1"].caption }}</a>
  <a href="/sq/casting/lab-2">{{ images["casting"]["casting-gossips-lab-2"].caption }}</a>
  <a href="/sq/casting/lab-3">{{ images["casting"]["casting-gossips-lab-3"].caption }}</a>
  <a href="/sq/casting/lab-4">{{ images["casting"]["casting-gossips-lab-1"].caption }}</a>
</div>