---
layout: layouts/center.njk
title: Casting gossips lab
metaDescription: What's on Bulevard
date: 2022-09-23
permalink: /sq/casting/lab-1/index.html
image: ../../../static/img/casting/casting-gossips-lab-1.jpg
subsection: casting-gossips-lab-1
---
<h1>{{ images["casting"]["casting-gossips-lab-1"].caption }}</h1>
<p>On the 17th of August an army of mouths invaded Destil’s kitchen around the Bulevard.</p>
<p>In the meantime, the actors were rehearsing and Simon was laying some important design books on a bench in the wood workshop of QM. While placing the texts on the plywood, he thinks of a street design for us to sit and touch around the boulevard. Yes, because public objects have a temperature, a texture, and what he will explain to us later: affordances.</p>
<p>And so, he walks his way towards the boulevard.</p>
<p>The army of mouths in the meantime are dissipating from the kitchen and we finally understand what happened: Laura Haby, a French filmmaker passing by the bulevard, dressed up as a cook and prepared us lunch with the theme of ‘gossips’.</p>
<p>Simon arrives. Lunch is ready. Mouths shut.</p>
<p>During the rest of the day we learned from the city street that in public space we can find or build a myriad of anarchic stool to ask a question to a mother, observe a stranger, talk to a passer-by, being confused by the architecture of a neighbourhood, or set up a temporary museum of minuscule found objects. At dusk, seated on the steps of QM, the local neighbors joined us, precisely when we were looking at the Albanian translation of: affordances.</p>

{% set slides = images["casting"]["casting-gossips-lab-1"].slides %}
{% set caption = images["casting"]["casting-gossips-lab-1"].caption %}
{% include "components/carousel.njk" %}