/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* my styles */

:root {
    --light-gray: #DCDBDB;
    --medium-gray: #a8a8a8;
    --dark-gray: #787878;
  }

@font-face {
    font-family: "Blv";
    src: url("../../_includes/assets/fonts/Blv-Regular-2.ttf");
}

@font-face {
  font-family: "Blv";
  src: url("../../../_includes/assets/fonts/Blv-Regular-2.ttf");
}

body{
    background-color: var(--light-gray);
}

.with-bg{
    background-image: url('../static/img/PLAN BLV.png');
    background-size: 75%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

header{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    z-index: 3;
}

header a svg{
    height: 50px;
    width: auto;
}

header a svg * {
    stroke-width: 1;
}

header .menu-icon svg{
    height: 30px;
    width: 30px;
}

header a svg *, header .menu-icon svg *{
    transition: 0.4s stroke ease;
}

header.active{
    position: fixed;
}

header.active a svg *{
    fill: var(--light-gray);
}

header .right{
    display: flex;
    align-items: center;
}

header .right .lang{
    margin-bottom: 4px;
    margin-right: 30px;
}

header .lang a{
    font-family: Blv, sans-serif;
    font-display: swap;
    text-decoration: none;
    margin-right: 10px;
    color: var(--dark-gray);
    font-size: 2rem;
}

header.active .lang a{
    color: var(--light-gray);
}

header .lang a.current{
    border-bottom: 3px solid var(--dark-gray);
    border-radius: 0px 15px 225px 15px/15px 225px 15px 0px;
}

header.active .lang a.current{
    border-color: var(--light-gray);
}

header.active .menu-icon svg *{
    stroke: var(--light-gray);
}

header .menu-icon:hover{
    cursor: pointer;
}

.main-nav{
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    top: 0;
    right: calc(-100% - 40px);
    background-color: var(--light-gray);
    padding: 0 40px 60px;
    transition: 0.1s background-color ease;
    z-index: -1;
}

.main-nav.active{
   z-index: 2;
   right: 0;
   background-color: var(--dark-gray);
}

.main-nav nav{
    width: 100%;
}

.main-nav nav li{
    width: calc(100% - 80px);
    border-bottom: 3px solid var(--light-gray);
    padding-top: 20px;
}

.main-nav nav li:nth-child(1){
    border-radius: 0px 15px 225px 15px/15px 0px 15px 0px;
}

.main-nav nav li:nth-child(2){
    border-radius: 0px 100px 225px 100px/100px 0px 15px 3px;
}

.main-nav nav li:nth-child(3){
    border-radius: 0px 30px 225px 30px/30px 0px 30px 0px;
}

.main-nav nav li:nth-child(4){
  border-radius: 0px 15px 225px 15px/15px 0px 15px 0px;
}

.main-nav nav li:nth-child(5){
  border-radius: 0px 25px 225px 25px/25px 0px 15px 1px;
}

.main-nav nav li:nth-child(6){
  border-radius: 0px 50px 225px 50px/50px 0px 50px 0px;
}

.main-nav nav li a{
    width: 100%;
    color: var(--light-gray);
    font-family: Blv, sans-serif;
    font-display: swap;
    font-size: 4rem;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav .social{
    width: 100%;
    height: auto;
    padding: 40px 0;
    position: absolute;
    bottom: 0;
}

.main-nav .social .contact{
   display: block;
   width: 100%;
   color: var(--light-gray);
   font-family: Blv, sans-serif;
   font-display: swap;
   font-size: 5rem;
   text-transform: uppercase;
}

.main-nav .social .icons a{
    margin-right: 10px;
}

.main-nav .social .icons a svg{
    height: 40px;
}

.centered {
  text-align: center;
}

main.home {
    box-sizing: border-box;
    padding: 0 17.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px);
    position: relative;
    gap: 20px;
    overflow-y: hidden;
}

main.home img {
    height: auto;
    width: 80%;
    position: absolute;
    left: 10%;
    transform: rotate(180deg);
}

main.home h1 {
    font-family: Blv, sans-serif;
    font-display: swap;
    font-size: 4rem;
    color: var(--dark-gray);
    max-width: 100%;
    text-transform: uppercase;
}

main.center {
    padding: 60px 0;
    margin: 0 auto;
    width: 720px;
}

main.center img{
   width: 100%;
}

main.center h1{
    font-family: Blv, sans-serif;
    font-display: swap;
    font-size: 3rem;
    color: var(--dark-gray);
    margin-top: 40px;
    text-transform: uppercase;
    line-height: 0.6;
}

main.about h1{
    text-align: center;
    margin-bottom: 40px;
}

main.center h2{
    font-family: Blv ,sans-serif;
    font-size: 3rem;
}

main.center h3{
  font-family: sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

main.center p{
    font-family: sans-serif;
    color: var(--dark-gray);
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 1rem;
}

main.about h2{
    font-family: Blv, sans-serif;
    font-display: swap;
    color: var(--dark-gray);
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

main.about p.centered{
    text-align: center;
}

main.about h3{
    font-family: Blv, sans-serif;
    font-display: swap;
    color: var(--dark-gray);
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
}

main.about h3:nth-last-of-type(2){
    font-size: 3rem;
    text-align: center;
}

main.about h3:nth-last-of-type(3){
    text-transform: none;
    text-align: center;
}

main.whats-on h2{
    font-size: 0.9rem;
    color: var(--dark-gray);
    font-family: sans-serif;
    margin-bottom: 40px;
    margin-top: 10px;
}

main.whats-on p.centered{
    text-align: center;
}

main.whats-on p.important{
    font-size: 1.3rem;
}

main.location{
    padding-top: 0;
}

main.location h1{
   text-align: center;
   margin-bottom: 40px;
   text-transform: uppercase;
}

main.location iframe{
    width: 100%;
    margin-top: 40px;
}

main.location > a{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   text-align: center;
   text-decoration: none;
   font-size: 1.5rem;
   font-weight: bold;
   color: var(--dark-gray);
   font-family: sans-serif;
   margin-bottom: 40px;
}

main.location > a svg{
    height: 1.5rem;
    margin-right: 10px;
 }

main.location > a svg *{
    fill: var(--dark-gray);
}

main.casting .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main.casting .links a {
  font-family: sans-serif;
  font-size: 1.5rem;
  color: var(--dark-gray);
  /* text-decoration: none; */
}

.carousel {
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}

.carousel .carousel-in-place {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.carousel .carousel-in-place img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-full-screen {
  position: absolute;
  display: none;
}


@media screen and (max-width: 960px) {
    main.home h1 {
        font-size: 4rem;
        width: 100%;
        line-height: 1;
    }
}

@media screen and (max-width: 800px) {
    .with-bg{
        background-image: url('../static/img/PLAN BLV ROTATED.png');
    }

    main.home {
        padding: 0 40px;
    }

    main.home h1 {
        font-size: 2.8rem;
    }

    main.center{
        width: calc(100% - 80px);
    }

    main.location video {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    main.location iframe{
       height: 300px;
    }
    header a svg{
        height: 30px;
    }
    .main-nav{
        padding-top: 120px;
        justify-content: flex-start;
    }
    .main-nav nav li{
        width: 100%;
    }
    .main-nav nav li a, .main-nav .social .contact{
        font-size: 2.5rem;
    }
    .main-nav .social .icons a svg{
        height: 30px;
    }
    main.home h1 {
        font-size: 2.5rem;
    }
    main.center{
        padding-top: 0;
    }
    main.whats-on h1{
        font-size: 2.5rem;
    }
    main.location h1:first{
        margin-top: 0;
    }
}

@media screen and (max-width: 440px) {
    main.home h1 {
        font-size: 2.5rem;
        line-height: 0.9;
    }
}

@media screen and (max-width: 300px) {
    header{
        padding: 15px;
    }
    main.center{
        width: calc(100% - 30px);
    }
    main.home h1 {
        font-size: 2.1rem;
    }
}


@media screen and (max-height: 800px) and (min-width: 800px) {
    main.home{
        width: calc(100% - 80px);
        overflow: hidden;
    }
    main.home h1 {
        font-size: 3.5rem;
        width: 100%;
        line-height: 1;
    }
}