---
layout: layouts/center.njk
title: Casting gossips lab
metaDescription: What's on Bulevard
date: 2022-09-23
permalink: /en/casting/lab-4/index.html
image: ../../../static/img/casting/casting-gossips-lab-4.jpg
subsection: casting-gossips-lab-4
---
<h1>{{ images["casting"]["casting-gossips-lab-4"].caption }}</h1>
<p>It was in 8th of June, 1949 when the National Archive of Albania was founded. The archivist was not born yet but after he welcomed us inside the institution, he was determined to confess all about its history to a group of young researchers of truth and lies. The archivist submitted them a series of questions, and during the archival visit, they found out if their presuppositions were correct. You can give it a try if you want:</p>
<p>*All documents that are necessary to understand the past are found at the archive.</p>
<p>*All archival documents preserve and represent the truth.</p>
<p>*There are no lies or gossips at the archive.</p>
<p>*In order to understand what is true and false, we should make research at the archive.</p>
<p>By the end of the tour, the young researchers submitted a question to the archivist: “And if the matrix was real, why would we need to catalog and archive that much?”</p>
<p>Come to see the play Thashtheme on the 23rd of September and you'll also find these answers (yes plural, one for the blue pill and one for the red).</p>

{% set slides = images["casting"]["casting-gossips-lab-4"].slides %}
{% set caption = images["casting"]["casting-gossips-lab-4"].caption %}
{% include "components/carousel.njk" %}