---
layout: layouts/center.njk
title: Casting gossips lab
metaDescription: What's on Bulevard
date: 2022-09-23
permalink: /en/casting/lab-3/index.html
image: ../../../static/img/casting/casting-gossips-lab-3.jpg
subsection: casting-gossips-lab-3
---
<h1>{{ images["casting"]["casting-gossips-lab-3"].caption }}</h1>
<p>In the night between the 8th and the 9th of September a group of nocturnal visionary people occupied a balcony, overlooking the historical Liceo Artistik. In their sleepless imagination, they all thought they could enter by climbing from the courtyard of the school, but I can say that in reality they had to go behind the red building, next to Bar Blob and buzz ‘academy of others’. To welcome them, there was an architect and a storyteller who revealed to them the origins of their sleepless existence. The purpose of revealing their origins was to share their visionary vision and find together a way of being citizens of a place where we need to preserve the waiting time to see the line of the mountain.</p>

{% set slides = images["casting"]["casting-gossips-lab-3"].slides %}
{% set caption = images["casting"]["casting-gossips-lab-3"].caption %}
{% include "components/carousel.njk" %}