{% set slides = slides if slides is defined else [] %}
{% set caption = caption if caption is defined else "" %}
{% set id = id or "carousel-" + range(1000, 9999) | random %}
<div id="{{ id }}" class="carousel">
  <div class="carousel-in-place">
    {% for slide in slides %}
      <img src="{{ slide.src }}" alt="{{ slide.alt }}">
    {% endfor %}
  </div>
  <div class="carousel-full-screen">
    <div class="carousel-overlay"></div>
    {% for slide in slides %}
      <figure class="carousel-item {% if loop.first %}active{% endif %}">
        <img src="{{ slide.src }}" alt="{{ slide.alt }}">
        {% if slide.caption %}
          <figcaption class="carousel-caption">
            {{ slide.caption }}
          </figcaption>
        {% endif %}
      </figure>
    {% endfor %}

    <a class="carousel-control-prev" href="#{{ id }}" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#{{ id }}" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
