<header>
    <a href="/">
        {{ "/static/svg/logo.svg" | svgContents | safe }}
    </a>
    <div class="menu-icon">
        {{ "/static/svg/hamburger.svg" | svgContents | safe }}
    </div>
</header>
