---
subsection: about
layout: layouts/center.njk
date: 2022-07-16
permalink: /sq/about/index.html
metaDescription: Çfarë është Bulevardi?
title: Kush jemi ne?
eleventyNavigation:
  key: about
  order: 2
image: ../../static/img/about/bashkimi.jpg
---

<h1>Kush jemi ne?</h1>
<p>Bulevard Art and Media Institute ndërthur metodologjitë artistike me median si një mënyrë për të vendosur në kontekst narrativat arkivore.</p>
<p>Hapësirat e Bulevardit gjenden në katin e nëndheshëm të godinës së ish gazetës Bashkimi, me pamje nga Bulevardi Zogu I në Tiranë.</p>
<p>Bulevardi merret me rrëfimin e intimes dhe vendin që ajo zë te kolektivja. Programi i tij përfshin ekspozita, laboratorë, biseda dhe organizime festive, të cilat rrëfehen përmes precesit editorial të Thashethemeve, Ditarëve dhe Letrave.</p>
<h2>Stafi</h2>
<p>Valentina Bonizzi (IT) është një artiste dhe studiuese me qëndrim në Tiranë. Puna e saj përfshin rrëfimin përmes filmit, shkrimit dhe praktikave pedagogjike radikale për të sfiduar politikat e përfaqësimit dhe rrëfimit. Ajo ka përfunduar studimet për master në Kërkim Shkencor në Universitetin e Arteve të Glasgou dhe doktoraturë në "Visual Research Center (DJCAD)" në Dandi, Skoci. Valentina është bashkëthemeluese e "Bulevard Art and Media Institute" dhe studioja e saj quhet Akademia e të Tjerëve.</p> 
<p>Sonila Abdalli (AL) është një arkitekte, sipërmarrëse dhe krijuese nga Tirana. Sonila ka interes në hapësirat kolektive dhe krijimin e proceseve dhe punës kërkimpre për të ndihmuar ndërtimin e ekonomive të qëndrueshme. Sonila ka studiuar arkitekturë në Universitetin Polis dhe është bashkëthemeluese e "Destil Creative Hub" dhe "Bulevard Art and Media Institute".</p>
<p>Marina Olimpia Dalipi (AL) është një artiste vizuale dhe dizajner grafik nga Tirana. Ajo ndihmon në komunikimin vizual të Bulevardit dhe ka interes në kuraturë ekspozitash dhe restaurim arti. Marina ka përfunduar studimet baçelor për Art dhe Dizajn në Universitetin Polis në vitin 2022.</p>
<h2>Oraret verore te hapjes</h2>
<h3>E hene - E diel</h3>
<p class="centered">17:00 - 21:00</p>
<h3>ose</h3>
<h3>per te lene takim</h3>
<p class="centered">na kontaktoni ne rrjetet sociale</p>