---
layout: layouts/base.njk
title: Home
date: 2022-07-17
section: home
permalink: /sq/index.html
---

<h1>Instituti Bulevard Art and Media nderthur metodologjite artistike me mediat si nje menyre per te vendosur ne kontekst narrativat arkivore.</h1>
<h1>Hapesirat e Bulevardit gjenden ne katin e nendheshem te godines se ish gazetes Bashkimi, me pamje nga Bulevardi Zogu I ne Tirane.</h1>