---
layout: layouts/base.njk
section: home
permalink: /
---

<h1>BULEVARD ART AND MEDIA INSTITUTE COMBINES ARTISTIC METHODOLOGY WITH MEDIA AS A WAY TO CONTEXTUALIZE ARCHIVAL NARRATIVES</h1>
<h1>BULEVARD'S SPACES ARE LOCATED IN THE UNDERGROUND LEVEL OF THE FORMER GAZETA BASHKIMI BUILDING - OVERLOOKING BULEVARD ZOGU I IN TIRANA</h1>